.shopping-list {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
}

.shopping-list__top {
  background-color: #fff0de;
  padding: 18px 20px;
  overflow: auto;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 100%;
}

.shopping-list__add-new-item {
  background-color: #80485b;
  position: relative;
  padding: 17px 30px 17px 30px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.shopping-list__add-new-item__image {
  position: absolute;
  display: none;
  top: -20px;
  left: 10px;
  width: 25%;
}

.shopping-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.shopping-list__title {
  font-weight: 700;
  font-size: 24px;
}

.shopping-list__toggle-mode {
  border: none;
  cursor: pointer;
  background-color: inherit;
  display: flex;
  align-items: center;
}

.shopping-list__section {
  margin: 35px 0;
}

.shopping-list__category {
  color: #818181;
  font-weight: normal;
  font-size: 15px;
}

.shopping-list__items {
  list-style: none;
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  gap: 10px;
}

.shopping-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  gap: 25px;
}

.shopping-list__item__left {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.shopping-list__item__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shopping-list__item__name--checked {
  text-decoration: line-through;
}

.shopping-list__item__checkbox {
  cursor: pointer;
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #f9a109;
  background-color: inherit;
  color: #f9a109;
}

.shopping-list__item__amount {
  border: 2px solid #f9a109;
  color: #f9a10a;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 24px;
  white-space: nowrap;
  height: max-content;
}

.shopping-list__edit-item {
  display: flex;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  align-items: center;
  gap: 3px;
}

.shopping-list__edit-item__delete-button,
.shopping-list__edit-item__decrease-button,
.shopping-list__edit-item__increase-button {
  padding: 13px 8px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: 14px;
}

.shopping-list__edit-item__delete-button {
  background-color: #f9a109;
  color: #fff;
}

.shopping-list__edit-item__delete-button:hover {
  background-color: #e99109;
}

.shopping-list__edit-item__decrease-button,
.shopping-list__edit-item__increase-button {
  background-color: inherit;
}

.shopping-list__is-empty {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  position: relative;
  min-height: 230px;
}

.shopping-list__is-empty__text {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

.shopping-list__is-empty__image {
  position: absolute;
  bottom: -18px;
}

.shopping-list__buttons,
.shopping-list__name-form {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
}

@media (min-width: 400px) {
  .shopping-list__add-new-item {
    padding-left: 120px;
  }

  .shopping-list__add-new-item__image {
    display: block;
    left: 10px;
    width: 81px;
  }
}

@media (min-width: 700px) {
  .shopping-list__buttons {
    max-width: none;
  }
}

@media (min-width: 900px) {
  .shopping-list__top {
    padding: 38px 40px;
  }

  .shopping-list__is-empty__image {
    bottom: -38px;
    z-index: 20;
  }
}

@media (min-height: 700px) {
  .shopping-list__is-empty {
    align-items: center;
  }

  .shopping-list__is-empty__text {
    top: -100px;
  }
}
