.item-info {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
}

.item-info__top {
  padding: 18px 20px;
  overflow: auto;
}

.item-info__get-back-button {
  color: #f9a109;
  padding: 5px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.item-info__get-back-button:hover {
  color: #e98109;
}

.item-info__image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  box-shadow: 0px 2px 12px 0px #0000000a;
  margin-bottom: 50px;
  border-radius: 25px;
}

.item-info__properties {
  display: flex;
  flex-direction: column;
  gap: 35px;
  list-style: none;
  margin-bottom: 34px;
}

.item-info__property:first-child {
  font-size: 24px;
}

.item-info__property__label {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
  color: #646464;
}

.item-info__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 900px) {
  .item-info__top {
    padding: 38px 40px;
  }
}
