.form-field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-field-container--focused {
  color: #f9a109;
}

.form-field {
  padding: 13px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

.form-field--focused {
  border: 1px solid transparent;
  outline: 2px solid #f9a109;
}
