.sign-up {
  margin: 25px auto 0;
  max-width: 400px;
}

.sign-up__title {
  font-size: 18px;
  margin-bottom: 15px;
}

.sign-up__description {
  font-size: 16px;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin: 31px 0;
}

.sign-up__fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sign-up__submit-button {
  text-align: center;
  font-size: 16px;
  padding: 9px 0;
  background-color: #f9a109;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.sign-up__submit-button:hover {
  background-color: #2e70cd;
  background-color: #e99109;
}

.sign-up__already-a-member {
  text-align: center;
  color: #6a6969;
}

.sign-up__login-link {
  text-decoration: none;
  color: #f9a109;
}

.sign-up__login-link:hover {
  color: #d98109;
}
