.items-page__items-category {
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: normal;
}

.items-page__items-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  flex-wrap: wrap;
  gap: 25px 18px;
  margin-bottom: 28px;
}
